apiVersion: sailoperator.io/v1alpha1
kind: Istio
metadata:
  name: default
spec:
  # OSSM 3 ships Istio 1.23+; ambient is GA in 1.22+
  version: v1.23.3
  namespace: istio-system
  profile: ambient
  values:
    pilot:
      resources:
        requests:
          cpu: 100m
          memory: 256Mi
    global:
      # OpenShift requires these for SCCs
      platform: openshift
